body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#track-container {
  border: 1px solid white;
}
#music-player {
  padding: 1rem;
  height: 50px;
}
.track {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.track:not(:last-child) {
  border-bottom: 1px solid white;
}

.track:hover {
  background-color: grey;
}

.margin--bottom--small {
  margin-bottom: 0.5rem;
}

.button--icon {
  background-color: transparent;
  border: none;
  color: white;
}
