* {
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  /* box-sizing: border-box; */
}
section {
  display: block;
}

#track-container {
  border: 1px solid white;
}
#music-player {
  padding: 1rem;
  height: 150px;
  text-align: center;
}
#track-controls {
  padding: 1rem;
}
.track {
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 50px;
}
.track:not(:last-child) {
  border-bottom: 1px solid white;
}

.track:hover {
  background-color: grey;
}

.margin--bottom--small {
  margin-bottom: 0.5rem;
}

.button--icon {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 4px;
  min-width: 25px;
}

.track-name {
  width: 100px;
}

.track-name::before {
  background: linear-gradient(transparent, white);
  width: 10px;
}

.track-data {
  margin: 0 0.5rem;
}

.font-size--small {
  font-size: calc(1rem * 0.75);
}
#track-progress {
  display: flex;
  align-items: center;
}
#track-progress progress {
  width: 100%;
  vertical-align: middle;
  /* the bar doesn't render on chrome without a bg color set... */
  background-color: white;
  border: none;
}
#track-progress progress::-webkit-progress-bar {
  background-color: white;
}
#track-progress progress::-webkit-progress-value {
  background-color: red;
}
#track-progress progress::-moz-progress-bar {
  background-color: red;
}

#track-time {
  margin: 0 1rem;
}

#track-progress-bar-container {
  flex-grow: 1;
}

#track-control-buttons {
  margin-top: 8px;
}

@media only screen and (min-width: 600px) {
  /* Tablets+ */
  #music-player-container {
    display: flex;
  }

  #music-player {
    width: 50%;
    order: 1;
  }

  #track-container {
    width: 50%;
  }
}
